assets/**/*.usd filter=lfs diff=lfs merge=lfs -text
assets/**/*.usda filter=lfs diff=lfs merge=lfs -text
assets/**/*.obj filter=lfs diff=lfs merge=lfs -text
source/**/*.npz filter=lfs diff=lfs merge=lfs -text
